h1:before {
    content:"! ";
}
h1:after {
    content: " !";
}
h1:hover{
    color: teal;
    background-color: khaki;
    font-size: 50px;
}
img{
    width: 100px;
}
img:hover{
    width: 500px;
    cursor: pointer;
}
input:hover{
    padding: 10px 50px;
    border: 50px solid rgb(161, 99, 99);
    border-radius: 20px;
}
a:visited{
    color: rgb(165, 156, 156);
}
a:hover{
    color: rgb(151, 63, 151);
}
li:first-child{
    color: rgb(103, 141, 67);

}
p:first-child{
    color: rgb(65, 80, 63);

}